@function return-media-query($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint){
		$query-list: map-get($breakpoints, $breakpoint);

		$query-keys: map-keys($query-list);
		$query-values: map-values($query-list);
		$length: length($query-keys);
		$media-query: '';
		@for $i from 1 through $length {
			@if $i != $length {
				$media-query: $media-query + unquote("#{'(' + nth($query-keys, $i) + ": " + nth($query-values, $i) + ') and '}");
			} @else {
				$media-query: $media-query + unquote("#{'(' + nth($query-keys, $i) + ": " + nth($query-values, $i) + ')'}");
			}
		}
		@return $media-query;
	} @else {
		@warn "Illegal media type";
		@return null;
	}
}
